/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .debug [class^="col"] {
    background-color: rgb(28, 99, 253);
    border: 1px solid white;
    height: 100px;
  }

  .debug [class^="nested"] {
    background-color: rgb(28, 253, 28);
    border: 1px solid rgb(28, 99, 253);
    height: 50px;
  }

  /* Utility */
  .flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white{
      color: white;
      font-size: 0.75rem;
  }

  /* align */

 .align_center{
    line-height: 100px;
    text-align: center;
 }

 .nested_center{
    line-height: 50px;
    text-align: center;
 }

 /* Spaces */

 .pdb_2{
    padding-bottom: 2rem;
 }
  
  /* Grid structure */
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  /*   margin: 0 -1rem; */
  }
  
  [class^="col"] {
    padding: 0 1rem;
  }

  [class^="nested"] {
    padding: 0 1rem;
  }
  
  
  [class*="col-"] {
    flex: 0 0 auto;
  }

  [class*="nested"] {
    flex: 0 0 auto;
  }
  
  .col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  
  
  .col_1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }
  
  .col_2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }
  
  .col_3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }
  
  .col_4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }
  
  .col_5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }
  
  .col_6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col_7 {
    flex-basis: calc((100% / 12) *7);
    max-width: calc((100% / 12) * 7);
  }
  
  .col_8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }
  
  .col_9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }
  
  .col_10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }
  
  .col_11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }
  
  .col_12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  
  
  .col_offset_1 {
    margin-left: calc((100% / 12) * 1);
  }
  
  .col_offset_2 {
    margin-left: calc((100% / 12) * 2);
  }
  
  .col_offset_3 {
    margin-left: calc((100% / 12) * 3);
  }
  
  .col_offset_4 {
    margin-left: calc((100% / 12) * 4);
  }
  
  .col_offset_5 {
    margin-left: calc((100% / 12) * 5);
  }
  
  .col_offset_6 {
    margin-left: 50%;
  }
  
  .col_offset_7 {
    margin-left: calc((100% / 12) * 7);
  }
  
  .col_offset_8 {
    margin-left: calc((100% / 12) * 8);
  }
  
  .col_offset_9 {
    margin-left: calc((100% / 12) * 9);
  }
  
  .col_offset_10 {
    margin-left: calc((100% / 12) * 10);
  }
  
  .col_offset_11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Nested */
  
  .nested_1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }
  
  .nested_2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }
  
  .nested_3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }
  
  .nested_4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }
  
  .nested_5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }
  
  .nested_6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .nested_7 {
    flex-basis: calc((100% / 12) *7);
    max-width: calc((100% / 12) * 7);
  }
  
  .nested_8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }
  
  .nested_9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }
  
  .nested_10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }
  
  .nested_11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }
  
  .nested_12 {
    flex-basis: 100%;
    max-width: 100%;
  }